
node_modules/
lib/
out/
bundle.js
bundle.js.map

**/*-app/**
!**/*-app/package.json

*.log
**/pack/**

**/webpack/**

*.vsix

workspace/results
workspace/resources
.browser_modules
tsconfig.tsbuildinfo

plugins